body 
{
	padding-top : 70px;
	padding-bottom: 70px;
}

#about-me
{
	overflow : hidden;
	margin-top : 30px;
	/*display:  none;*/
}

.hide
{
	display : none;
}

.appearanimAE
{
	animation-duration : 2s;
	animation-name: appearAE;
}

.disappearanimAE
{
	animation-duration : 2s;
	animation-name : disappearAE
}

@keyframes appearAE
{
	from
	{
		height : 0px;
	}

	to
	{
		height : 325px;
	}
}

@keyframes disappearAE
{
	from
	{
		height : 325px;
	}
	
	to
	{
		height : 0px;
	}
}

.appearanimP
{
	animation-duration : 2s;
	animation-name: appearP;
}

.disappearanimP
{
	animation-duration : 2s;
	animation-name : disappearP
}

@keyframes appearP
{
	from
	{
		height : 0px;
	}

	to
	{
		height : 325px;
	}
}

@keyframes disappearP
{
	from
	{
		height : 325px;
	}
	
	to
	{
		height : 0px;
	}
}